*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url(./trekking-7593276_640.jpg); 
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mybox {
            background: rgba(255, 255, 255, 0.5); 
            padding: 20px;
            border-radius: 0px 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            border: 2px solid black;
        }

        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4CAF50; 
            color: white;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        #passw {
            color: red;
        }